@import '../../../styles/_base.less';
@import '../../../styles/_mixins.less';
@import '../../../styles/iconfont.wxss';
.chatWrap {
  min-height: 100vh;
  background: @background-color-base;
  transition: all .2s ease;
  .chatArea {
    padding: 20rpx 30rpx;
    height: calc(100vh - 188rpx);
    box-sizing: border-box;
    .scrollView {
      height: 100%;
    }
    .message-list {
      .message-item {
        margin-bottom: 30rpx;
        overflow: hidden;
        .avatar {
          width: 80rpx;
          height: 80rpx;
          border-radius: 50%;
          overflow: hidden;
        }
        .message-content {
          border-radius: @msg-radius;
          overflow: hidden;
          .text {
            max-width:460rpx;
            font-size:30rpx;
            line-height:40rpx;
            padding: 26rpx 42rpx;
            border-radius: 24rpx;
            overflow: hidden;
            box-sizing: border-box;
          }
        }
        &.others {
          .avatar {
            float: left;
          }
          .message-content {
            border-top-left-radius: 8rpx;
            margin-left: 16rpx;
            float: left;
            background: #fff;
            color: @text-color-1;
          }
        }
        &.mine {
          .avatar {
            float: right;
          }
          .message-content {
            border-top-right-radius: 8rpx;
            margin-right: 16rpx;
            float: right;
            background: @primary-color;
            color: #fff;
            &.img, &.video {
              background: none;
            }
          }
        }
      }
    }
  }
  .console {
    width: 100%;
    .textEdit {
      padding: 18rpx 114rpx 12rpx 26rpx;
      position: relative;
      .textarea-box {
        background: #fff;
        padding: 18rpx 40rpx;
        box-sizing: border-box;
        border-radius:38rpx;
        .textarea {
          width: 100%;
          min-height: 40rpx;
          font-size:30rpx;
          color: @text-color-1;
          line-height:40rpx;
        }
      }
      .send {
        top: 0;
        right: 0;
        position: absolute;
        padding: 18rpx 30rpx 18rpx 20rpx;
        font-size:32rpx;
        color:@primary-color;
        line-height:76rpx;
      }
    }
    .other-type {
      padding: 0 57rpx 14rpx;
      display: flex;
      justify-content: space-between;
      .item {
        position: relative;
        .selected {
          right:8rpx;
          bottom: 10rpx;
          display: block;
          position: absolute;
          width:32rpx;
          height:32rpx;
          border-radius:16rpx;
        }
        .icon {
          font-size: 44rpx;
          color: @text-color-1;
          position: relative;
          z-index: 1;
        }
        
        width: 68rpx;
        height: 68rpx;
        text-align: center;
        line-height: 68rpx;
      }
    }
  }
  .console-area {
    width: 100%;
    height: 400rpx;
  }
}
