@import '../../styles/_base.less';
@import '../../styles/_mixins.less';

.account {
  background: @vice-primary-color-1;
  min-height: 100vh;
  box-sizing: border-box;
  .header {
    height: 242rpx;
    padding: 40rpx 60rpx 63rpx 48rpx;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    .btn {
      width:197rpx;
      height:80rpx;
      background:@primary-color;
      border-radius:44rpx;
      line-height: 80rpx;
      text-align: center;
      flex: 0 0 0 197rpx;
      font-size:30rpx;
      font-weight:700;
      color:rgba(255,255,255,1);
    }
    .inner {
      flex: 1;
    }
    .pitang {
      height:140rpx;
      display: inline-block;
    }
    .info {
      height: 140rpx;
      display: inline-block;
      .number {
        font-size:96rpx;
        font-weight:700;
        color:rgba(255,255,255,1);
        line-height:96rpx;
        letter-spacing:1px;
      }
    }
  }
}