@import '../../../styles/_base.less';
@import '../../../styles/_mixins.less';

.modal-dialog {
  transition: all ease .2s;
  z-index: 12;
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  opacity: 0;
  display: none;
  z-index: 1000;
  &.show {
    display: block;
    opacity: 1;
  }
  .mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: 9;
    animation-name: modalopen;
    animation-duration: .2s;
    &.show {
      opacity: 1;
    }
  }
  .content {
    width:650rpx;
    background:rgba(255,255,255,1);
    border-radius:36rpx;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .model_title {
    font-size:36rpx;
    font-weight:700;
    color:@text-color-1;
    line-height:46rpx;
    text-align: center;
    margin: 80rpx 90rpx 0 90rpx;
  }
  .icon_xiaocha {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20rpx;
    color: @text-color-4;
    padding: 38rpx;
  }
  .p1 {
    height:38rpx;
    font-size:30rpx;
    font-weight:300;
    color:@text-color-1;
    line-height:38rpx;
    text-align: center;
    margin-top: 36rpx;
  }
  .sex-ul {
    height:280rpx;
    padding: 24rpx 75rpx 48rpx 75rpx;
    .li {
      width:242rpx;
      height:280rpx;
      border-radius:36rpx;
      display: inline-block;
      line-height: 280rpx;
      text-align: center;
      &.boy {
        background:rgba(@primary-color, .08);
        margin-right: 16rpx;
        color: @primary-color;
      }
      &.girl {
        background:rgba(@vice-primary-color-2, .08);
        color: @vice-primary-color-2;
      }
    }
    .icon {
      margin-right: 16rpx;
      font-size: 30rpx;
    }
  }
  .p2 {
    height:36rpx;
    font-size:28rpx;
    color:@text-color-1;
    line-height:36rpx;
    text-align: center;
    text-align: center;
    padding-bottom: 90rpx;
    text {
      text-decoration: underline;
    }
  }
  .process {
    padding: 0 60rpx;
    margin: 38rpx 0 48rpx 0;
    .bar {
      height:10rpx;
      background:@background-color-base ;
      border-radius:5rpx;
      position: relative;
    }
    .active1 {
      height:100%;
      background:@vice-primary-color-3;
      border-radius:5rpx;
    }
    .active2 {
      height:100%;
      background:@primary-color;
      border-radius:5rpx;
    }
    .tips {
      line-height:32rpx;
      font-size:26rpx;
      color:@text-color-1;
      line-height:32rpx;
      font-weight:300;
      margin-top: 30rpx;
    }
    .icon-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 80%;
      color: @vice-primary-color-2;
      width: 26rpx;
      height: 26rpx;
    }
  }
  .perfect-ul {
    padding: 0 40rpx 80rpx 40rpx;
    .li {
      height:110rpx;
      background:@background-color-base;
      border-radius:55rpx;
      position: relative;
      padding-left: 50rpx;
      padding-right: 36rpx;
      line-height: 110rpx;
      margin-bottom: 24rpx;
      &:last-child{
        margin-bottom: 0rpx;
      }
    }
    .text {
      color: @text-color-1;
      padding-left: 16rpx;
      font-size: 30rpx;
    }
    .btn {
      width:138rpx;
      height:60rpx;
      border-radius:33rpx;
      text-align: center;
      line-height: 60rpx;
      font-size:28rpx;
      font-weight:700;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 36rpx;
      color: @primary-color;
      &.bg {
        background:@primary-color ;
        color:rgba(255,255,255,1);
      }
    }
    .icon {
      font-size: 30rpx;
      color: @text-color-1;
    }
  }
  .perfect-ul2 {
    padding: 48rpx 40rpx 80rpx 40rpx;
    .li {
      height:110rpx;
      background:rgba(@background-color-base, .46);
      border-radius:55rpx;
      position: relative;
      padding-left: 50rpx;
      padding-right: 36rpx;
      line-height: 110rpx;
      margin-bottom: 24rpx;
      &:last-child{
        margin-bottom: 0rpx;
      }
    }
    .text {
      color: @text-color-1;
      padding-left: 16rpx;
      font-size: 30rpx;
    }
    .btn {
      width:138rpx;
      height:60rpx;
      border-radius:33rpx;
      text-align: center;
      line-height: 60rpx;
      font-size:28rpx;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 36rpx;
      color: @primary-color;
      &.bg {
        background:@vice-primary-color-3 ;
        color:rgba(255,255,255,1);
        font-weight: 700;
      }
    }
    .icon1 {
      font-size: 30rpx;
      color:@primary-color;
    }
    .icon2 {
      font-size: 30rpx;
      color:@primary-color;
    }
    .btn2 {
      width:138rpx;
      height:60rpx;
      border-radius:33rpx;
      text-align: center;
      line-height: 60rpx;
      font-size:28rpx;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 36rpx;
      color: @text-color-3 ;
    }
    .icon1_error {
      color: @vice-primary-color-3;
    }
  }
  .error {
    width:82rpx;
    height:36rpx;
    background:rgba(@vice-primary-color-3,0.1);
    border-radius:8rpx;
    font-size:22rpx;
    color:@vice-primary-color-3;
    text-align: center;
    line-height: 36rpx;
    margin-left: 10rpx;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2rpx;
  }
  .charge-box {
    width:650rpx;
    background:rgba(255,255,255,1);
    // box-shadow:0rpx 11rpx 28rpx 0rpx rgba(181,201,201,0.1);
    border-radius:36rpx;
    .headImg {
      width:522rpx;
      height:168rpx;
      border-radius:250rpx;
      border:1rpx solid;
      margin: 60rpx auto 0;
      display: block;
      border-image:linear-gradient(180deg, rgba(255,255,255,0), rgba(12,205,218,0.69), rgba(12,205,218,0.65), rgba(255,255,255,0)) 1 1;
    }
    .img-box_v1 {
      height: 168rpx;
      margin-top: 60rpx;
      text-align: center;
      position: relative;
    }
    .circle_v1 {
      width:168rpx;
      height:168rpx;
      border:3rpx solid rgba(12,205,218,1);
      border-radius: 50%;
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      position: absolute;
      &:first-child {
        transform: translateX(-100%);
      }
      &:last-child {
        transform: translateX(-100%);
      }
      &.girl {
        border-color: @vice-primary-color-2;
      }
      &.boy {
        border-color: @primary-color;
      }
      .use_avatar {
        width: 100%;
        height: 100%;
      }
    }
    .love_v1 {
      width:110rpx;
      height:110rpx;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      text-align: center;
    }
    .model_title_v2 {
      height:44rpx;
      font-size:36rpx;
      font-weight:700;
      color:@text-color-1 ;
      line-height:44rpx;
      margin-top: 60rpx;
      text-align: center;
    }
    .p_v2 {
      height:38rpx;
      font-size:30rpx;
      font-weight:300;
      color:@text-color-1 ;
      line-height:38rpx;
      text-align: center;
      margin-top: 20rpx;
    }
    .row-botton {
      height:68rpx;
      border-radius:34rpx;
      position: relative;
      margin: 20rpx 119rpx 64rpx 119rpx;
      line-height: 68rpx;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background:@primary-color;
        border-radius:34rpx;
        opacity:0.09;
      }
      .pitang {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: @primary-color;
        width:60rpx;
        height:60rpx;
        box-shadow:0rpx 0rpx 24rpx 0rpx rgba(244,107,161,0.3);
        border-radius: 50%;
        box-sizing: border-box;
        padding: 8rpx;
      }
    }
    .text_v1 {
      font-size:28rpx;
      font-weight:300;
      color:@text-color-1 ;
      padding-left: 80rpx;
    }
    .strong_v1 {
      padding: 0 5rpx;
      color: @primary-color;
      font-weight: 700;
    }
    .action-button_v1 {
      text-align: center;
      position: relative;
      margin: 0 70rpx 64rpx 70rpx;
    }
    .btn_v1 {
      height:98rpx;
      border-radius:49rpx;
      line-height: 98rpx;
      text-align: center;
      display: inline-block;
      border: 0;
      width: 100%;
      &:before {
        height:88rpx;
        background:linear-gradient(180deg,rgba(28,232,239,1) 0%,rgba(12,205,218,1) 100%);
        border-radius:44rpx;
        opacity:0.89;
        filter:blur(10rpx);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7rpx;
        content: '';
        display: block;
        border: 0;
        width: 430rpx;
      }
    }
    .btn_cover_v1 {
      height:98rpx;
      background:linear-gradient(180deg,rgba(28,232,239,1) 0%,rgba(12,205,218,1) 100%);
      border-radius:49rpx;
      line-height: 98rpx;
      text-align: center;
      font-size:32rpx;
      font-weight:700;
      color:#ffffff;
      position: relative;
      z-index: 2;
      width: 100%;
    }
    .btn_v2 {
      background:linear-gradient(180deg,rgba(28,232,239,1) 0%,rgba(12,205,218,1) 100%);
      border-radius:44rpx;
      text-align: center;
      flex: 0 0 0 197rpx;
      font-size:30rpx;
      font-weight:700;
      color:rgba(255,255,255,1);
      padding: 0;
      width:510rpx;
      height:98rpx;
      border-radius:50rpx;
      line-height: 98rpx;
    }
  }
}

@keyframes modalopen {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}